<p>Ask your coach anyting:</p>

<form action="/answer" method="get" class="form-group">
<div class="form-group">
  <input type="text" name="question"  value="<%= params[:answer] %>" placeholder = "Just ask you question here" class="search-bar">
  <input type="submit" value="Ask!" class="btn-primary">
</div>
</form>
